/* je dois chercher le role exacte de 
  Display : flex ;
  align-items: center;
  justify-content: center; */
  
body{
    margin: 0;
    font-family: 'Quicksand';
   
}

#firstPlayer{
    position: absolute;
    left: 0;
   /* border:2px solid black;*/
    height: 100%;
    width: 50%;
  
}
#secondPlayer{
    position: absolute;
    right: 0;
   /* border:2px solid black;*/
    height: 100%;
    width: 50%;
   
}
#gameTools{
  position: absolute;
  top: 0%; 
  left: 40%; 
  /*transform: translate(-50%, -50%); */
  display: flex;
  align-items: center;
  justify-content: center;
  /*border-style: solid;*/
  height: 100%;
  width: 20%;
}
#h1FirstPlayer{
    position: absolute;
    right: 30%;
    bottom: 70%;
   /* border: 2px solid black;*/
 
}
#h1SecondPlayer{
    position: absolute;
    left: 30%;
    bottom: 70%;

    /*border: 2px solid black;*/

}
.RoundScore1{
    background-color: red;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 30%;
    bottom: 20%;
    height: 10%;
    width: 20%;
    padding: 5px;
   /* border: 2px solid black;*/
}
#RoundScore1Paragraph{
    position: absolute;
    font-weight: bold;
    right: inherit;
    bottom: 40%;
   /* border: 2px solid black;*/
   

}
.RoundScore2{
    background-color: red;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 30%;
    bottom: 20%;
    height: 10%;
    width: 20%;
    padding: 5px;
   /* border: 2px solid black;*/
}
#RoundScore2Paragraph{
    position: absolute;
    font-weight: bold;
    left: inherit;
    bottom: 40%;   
   
}
#UpdateScore1,#UpdateScore2{
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    color: white;
    top: 50%;
}

#GlobalScoreFirst{
    position: absolute;
    right: 30%;
    bottom: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
   /*border: 2px solid black;*/
    height: 15%;
    width: 18%;
}
#GlobalScore1Display,#GlobalScore2Display{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Quicksand'; 
}
#GlobalScoreSecond{
    position: absolute;
    left: 30%;
    bottom: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
   /* border: 2px solid black;*/
    height: 15%;
    width: 18%;
}
#dice{
   position: absolute;
   top: 20%; 
    /*left: 50%; 
   transform: translate(-50%, -50%); */
   display: flex;
   justify-content: center;
   align-items: center;
   /*border: 2px solid black;*/
   background-color: #f0f0f0;
   font-size: 24px;
   border: 1px solid #ccc;
   cursor: pointer;
   height: 20%;
   width: 50%;

}
#actifPlayer1{
    width: 1.5%;
    height: 1.5%;
    background-color: red;
    border-radius:100%;
    border-color: red;
    position: absolute;
    top: 22%;
    right: 25%;

}

#actifPlayer2{
    width: 1.5%;
    height: 1.5%;
    background-color: red;
    border-radius:100%;
    border-color: red;
    position: absolute;
    margin-left: 10%;
    top: 22%; 
    left: 15%;
}
.newGameParagraph,.RollDiceParagraph,.HoldScoreParagraph{
    text-align: center;
    position: absolute;
    font-weight: bold;
    /*border:2px solid black;*/
    /*border:2px solid black;*/
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%); 

    
}
#newGame{
   /*border:2px solid black;*/
   position: absolute;
    top: 10%; 
    display: flex;
    justify-content: center;
    align-items: center;
   /* left: 50%; 
    transform: translate(-50%, -50%);*/
   width: 100%;
   height: 7%;
   

}
.add_circle-icon{
margin-right: 20px;
position:absolute ;/* je dois trouver un potentiel meilleur moyen
d'aligner l'icone avec le paragraphe.*/
top: 45%; 
left: 25%; 
transform: translate(-50%, -50%); 
color: red;
/*border:2px solid black;*/

}
#rollDice{
    position: absolute;
    top: 72%; 
    font-weight: bold;
    /*left: 50%; 
    transform: translate(-50%, -50%);*/
   /* border: 2px solid black; */
    width: 100%;
    height: 7%;
}
.sync-icon{
    position: absolute;
    top: 20%;     
    left: 10%;
    color: red;
    /*border: 2px solid black; */
}
#Holdscore{
    position: absolute;
    top: 85%; 
    font-weight: bold;
    /*left: 50%; 
    transform: translate(-50%, -50%);*/
   /* border: 2px solid black; */
    width: 100%;
    height: 7%;   
}
.system_update_alt{
    position: absolute;
    top: 20%;     
    left: 10%;
    color: red;
   /* border: 2px solid black;*/
}
.face{
    width: 7%;
    height: 7%;
    background-color: red;
    border-radius:100%;
    border-color: red;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
   /* transform: translate(-50%, -50%);*/
}
#face1 { top: 45%; left: 48%; }
#face2 { bottom:75%; left: 20%; }
#face3 { top: 75%; left: 20%; } 
#face4 { bottom:75%; left: 75%; }
#face5 { top: 75%; left: 75%; } 
#face6 { top: 75%; left: 48%; } 

@media screen and (max-width:1200px) {
    #dice{
        width: 100px;
        height: 100px;
        
    }
    #h1FirstPlayer,#h1SecondPlayer{
        font-size: 25px;
    }
   
   

}
@media screen and (max-width:1200px) {
    .add_circle-icon {
        left:20%;
    }
    .newGameParagraph{
        left: 70%;
        font-size: 15px;
        top: 20%;
    }

    #dice{
        width: 80px;
        height: 80px;
        
    }
    #h1FirstPlayer,#h1SecondPlayer{
        bottom: 72%;
        font-size: 20px;
        
    }
    #h1FirstPlayer{
        right:  50%;
    }
    #h1SecondPlayer{
        left: 50%;
    }
    #actifPlayer1{
        right: 45%;
        top:23.5%;
        width: 2%;
        height: 1%;
    }
    #actifPlayer2{
        left:35%;
        top:23.5%;
        width: 2%;
        height: 1%;
    }
    .RoundScore1{
        width: 50%;
        right: 40%;
    }
    .RoundScore2{
        width: 50%;
        left: 40%;
    }
   .sync-icon{
        left: 0%;
   }
   .RollDiceParagraph{
    left: 70%;
    
   }
   .HoldScoreParagraph{
    left: 70%;
   }
   .system_update_alt{
    left: 0%;
   }
   #RoundScore1Paragraph{
    right: 25%;
   }
   #RoundScore2Paragraph{
    left: 25%;
   }
   #GlobalScoreFirst{
    width: 50%;
    left: 10%;
   }
   #GlobalScoreSecond{
    width: 50%;
    left: 40%;
   }


}
@media screen and (min-width:400px) and (max-width:550px) {
    /* on remonte les titres cuurent score pour les iphones supérieurs*/
    #RoundScore1Paragraph,#RoundScore2Paragraph{
        height: 30%;
        font-size: 20px;

       }
       #h1FirstPlayer,#h1SecondPlayer{
        font-size: 25px;

    }
}
/* A partie de 550 à 1200 pixel je vais ajuster le paragraphe des current score et l'espace entre l'icon start , son paragraphe et la taille du dé, holdscore , espace entre icone et paragraphe*/
@media screen and (min-width:550px) and (max-width:1200px) {
    #dice{
        width: 150px;
        height: 150px;
        
    }
    #h1FirstPlayer,#h1SecondPlayer{
        bottom: 72%;
        font-size: 40px;

    }
    .add_circle-icon {
        height: 50%;
        width: 30%;
        right:100;
        top: 60%;
        padding-left: 20%;
   }
   .newGameParagraph{
    font-size: 25px;
    width: 80%;
    
}
.RollDiceParagraph{
    font-size: 25px;
    width: 80%;
   }
   .sync-icon{
    height: 50%;
    width: 30%;
    padding-left: 15%;
    
}
.HoldScoreParagraph{
    font-size: 25px;
    width: 80%;

}
.system_update_alt{
    height: 50%;
    width: 30%;
    padding-left: 15%;
    
   }
   #RoundScore1Paragraph{
    right: 35%;
    font-size: 30px;
   }
   #RoundScore2Paragraph{
    right: 35%;
    font-size: 30px;
   }

}


